body {
  width: 100%;
  background-color: #DBFE87;
}

p{
  display: flex;
  justify-content: center;
}

canvas{
  margin-left: 20px;
}

.startMenu {
  position: absolute;
  top: 40%;
  left: 40%;
  height: 200px;
  width: 250px;
  background-color: #FFE381;
  color: #1C448E;
  font-family: "Monoton";
  border: 5px solid #6F8695;
}

#name{
  position: absolute;
  top: 80px;
  left: 57px;
}

#submit{
  position: absolute;
  top: 102px;
  left: 60px;
  font-family: "Monoton";
  background-color: #6F8695;
  color: #1C448E;
}

.welcome {
  top: 20px;
}

.infoScreen{
  float: left;
  height: 250px;
  width: 200px;
  border: 5px solid #6F8695;
  margin-left: 25px;
  font-family: "Monoton";
  background-color: #FFE381;
  color: #1C448E;
}

#help{
  position: absolute;
  top: 70px;
  left: 110px;
  font-family: "Monoton";
  background-color: #6F8695;
  color: #1C448E;
}

#askname{
  position: absolute;
  left: 5px;
}

.win{
  position: absolute;
  height: 100px;
  width: 350px;
  font-family: "Monoton";
  background-color: #FFE381;
  color: #1C448E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  top: 40%;
  left: 37%;
}

.instructions{
  position: absolute;
  top: 120px;
  margin-left: 15px;
  background-color: #DBFE87;
}
